header.header
    .header__column
        a(href=routes.home)
            i.fab.fa-youtube
        h1 #{siteName}
    .header__column
        form(action=routes.search, method="GET")
            input(type="text", name="term", placeholder="Search by a term...")    
            input(type="submit", value="search")
    .header__column
        ul
            li
                a(href=routes.join) Join
            li
                a(href=routes.login) Log In